<div class="ui container">

  <div class="ui padded stacked mt-4 segment">
    <h1>Say Hello</h1>

    <form action="#" class="ui form">

      <div class="two fields">
        <div class="field">

          <label for="messsage">Message</label>
          <input type="text" id="message" placeholder="Enter Message">
        </div>

        <div class="field">
          <label for="user">User</label>
          <input type="text" id="user" placeholder="User Name">
        </div>
      </div>
      <div class="field">
        <button class="ui icon labeled red  button">
          <i class="send icon"></i>
          Send
        </button>
      </div>

    </form>

  </div>
</div>

<router-outlet></router-outlet>