<div class="container">

  <div class="jumbotron mr-2">
    <h2>Locations</h2>
    <p>Docker Demo with angular, spring boots and postgre sql database with separate containers.</p>
  </div>

  <div class="row">
    <div class="col-4">
      <h3>Locations</h3>

      <div class="list-group">
        <a class="list-group-item list-group-item-action" *ngFor="let item of divisions"
          [ngClass]="{'active': item?.id == division?.id}" (click)="loadTownship(item.id)">{{item.name}}</a>
      </div>

    </div>
    <div class="col-8">
      <h3>Townships of {{division?.name}}</h3>

      <div class="d-flex flex-wrap">

        <div class="w-50 pb-3 pr-3" *ngFor="let item of townships">
          <div class="card">
            <div class="card-body"><span>{{item.name}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>